<link href="https://fonts.google.com/">
body{
  font-family: serif;
  background: 800px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.center-top-content{
  text-align:center;
  text-transform: capitalize;
}
h{
  font-family: sans-serif;
}
#navigation-links{
  text-align:center;
}
