<link href="https://fonts.google.com/">
body{
  font-family: serif;
  background: 800px;
  padding-top: 20px;
  padding-bottom: 20px;
}
img {
    max-width: 600px;
    width: 100%;
}

body{
  max-width: 800px;
  margin: 20px auto;
  font-family: 'PT+Serif', serif;
}

.center-top-content{
  margin: 0 auto 20px;
  max-width: 400px;
  text-align: center;
  border-bottom: : 1px solid grey;
}
.personal-title {
  font-weight: bold;
  color:grey;
  font-style: italic;

}

h1, h2, h3, h4, h5, h6{
  font-family: 'Roboto', sans-serif;
}

h1 {
    color: #33485e;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 0;
}
#naviagtion-links {
  max-width: 400px;
  margin: 0 auto;
  padding-left: 0;
}
#nav-links li{
  display: inline-block;
}
#highlight{
  background color: #33458e;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  font-weight: bold;
}

}
h2{
  background-color:#33485e;
  color: white;
  padding: 5px;
}
